rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /tests/{id} {
      allow read: if true;
      allow write: if true;
    }

    match /questions/{id} {
      allow read: if true;
      allow write: if true;
    }

    match /results/{resultId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;

      match /answers/{answerId} {
        allow read, write: if true;
      }

      match /logs/{logId} {
        allow read, write: if true;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
